
<form action="#" class="w-25 mx-auto mt-5 border border-danger bg-primary">

    <h1 class="display-4 text-dark mb-4 bg-success">User Edit Form</h1>

    <div class="form-group mx-3">
        <label for="id">Id</label>
        <input type="text" class="form-control" placeholder="Enter Id" id="id" value="{{users.id}}" (keyup)="updateId($event)">
    </div>
    <div class="form-group mx-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" id="name" value="{{users.name}}" (keyup)="updateName($event)">
    </div>
    <div class="form-group mx-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" id="email" value="{{users.email}}" (keyup)="updateEmail($event)">
    </div>
    <div class="form-group mx-3">
        <label for="city">City</label>
        <input type="text" class="form-control" placeholder="Enter City" id="city" value="{{users.address.city}}" (keyup)="updateCity($event)">
    </div>
    <div>
        <button type="submit" class="btn btn-sm btn-warning ml-5" (click)="update1()">update</button>
    </div>
</form>

<form action="#" class="w-25 mx-auto mt-5 border border-danger bg-primary">

    <h1 class="display-4 text-dark mb-4 bg-success">User Edit Form</h1>

    <div class="form-group mx-3">
        <label for="id">Id</label>
        <input type="text" class="form-control" placeholder="Enter Id" id="id" value="{{users.id}}" (keyup)="update('id',$event)">
    </div>
    <div class="form-group mx-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Enter Name" id="name" value="{{users.name}}" (keyup)="update('name',$event)">
    </div>
    <div class="form-group mx-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter Email" id="email" value="{{users.email}}" (keyup)="update('email',$event)">
    </div>
    <div class="form-group mx-3">
        <label for="city">City</label>
        <input type="text" class="form-control" placeholder="Enter City" id="city" value="{{users.address.city}}" (keyup)="update('city',$event)">
    </div>
    <div>
        <button type="submit" class="btn btn-sm btn-warning ml-5" (click)="updateUser()">update</button>
    </div>
</form>

