<div class="w-25 mx-auto mt-5">
    <div class="card">
        <div class="card-header bg-success">
            <h3 class="card-title text-center text-white ">{{users.name}}</h3>
        </div>
        <div class="card-body ">
            <ul class="list-group ">
                <li class="list-group-item bg-danger text-white"> <span>Id</span> :  {{users.id}} </li>
                <li class="list-group-item bg-danger text-white"> <span>Name</span> : {{users.name}} </li>
                <li class="list-group-item bg-danger text-white"> <span>Email</span> : {{users.email}} </li>
                <li class="list-group-item bg-danger text-white"> <span>City</span> : {{users.address.city}} </li>
            </ul>
        </div>
    </div>
</div>