<button type="submit" class="btn btn-sm btn-success" (click)="getUsers()">Get users</button>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>User City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address.city }}</td>
            <td>
                <button type="submit" class="btn btn-sm btn-danger" routerLink="/user-edit/{{user.id}}">edit</button>
                <button type="submit" class="btn btn-sm btn-primary" routerLink="/user-view/{{user.id}}">view</button>
            </td>
        </tr>
    </tbody>
</table>